/* .detail-pricing-header {
  color: black;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 1px;
}

.modal-backdrop {
  z-index: unset;
}

.modal-title {
  font-size: 30px;
  color: rgb(38, 38, 38);
}

ol.custom-numbers {
  list-style: none;
}

ol.custom-numbers li {
  font-size: 24px;
  counter-increment: my-awesome-counter;
  color: rgb(38, 38, 38);
}

ol.custom-numbers li::before {
  content: counter(my-awesome-counter) '. ';
  color: #2b90d9;
  font-weight: bold;
}

.discount {
  border-radius: 4px 2px 2px 4px;
  color: #fff;
  display: inline-block;
  font-family: NunitoSansBold,sans-serif;
  font-size: clamp(.75rem,5vw,.75rem);
  font-weight: 700;
  height: 32px;
  background-color: #487cc6;
  padding: 8px 20px 8px 10px;
  position: relative;
}

.discount::after {
  border-left: 15px solid #487cc6;
  border-bottom: 16px solid transparent;
  border-top: 16px solid transparent;
  content: "";
  margin-right: -14px;
  margin-top: -8px;
  position: absolute;
  right: 0;
}

.before-discount {
  color: #29384e;
  font-family: NunitoSansBold,sans-serif;
  font-size: clamp(.875rem,5vw,.875rem);
  font-weight: 700;
  opacity: .8;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  text-decoration: line-through;
} */

.modal-backdrop {
  z-index: unset;
}

.price-card {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 6px 20px rgb(17 26 104 / 10%);
  display: inline-block;
  margin-bottom: 40px;
  padding: 32px 18px 24px;
  position: relative;
  width: 254px;
}

.price-card__title {
  color: #29384e;
  font-family: NunitoSansBold,sans-serif;
  font-size: clamp(1.25rem,5vw,1.25rem);
  font-weight: 700;
  letter-spacing: .005em;
  line-height: 1.625rem;
  margin: 0.5rem 0 20px 0 ;
}

.price-card__tag-discount {
  border-radius: 4px 2px 2px 4px;
  color: #fff;
  display: inline-block;
  font-family: NunitoSansBold,sans-serif;
  font-size: clamp(.75rem,5vw,.75rem);
  font-weight: 700;
  height: 32px;
  padding: 8px 20px 8px 10px;
  position: relative;
  background-color: #00bfa6;
}

.price-card__tag-free {
  background-color: #f43636;
}


.price-card__tag-discount::after {
  border-bottom: 16px solid transparent;
  border-top: 16px solid transparent;
  content: "";
  margin-right: -14px;
  margin-top: -8px;
  position: absolute;
  right: 0;
  border-left: 15px solid #00bfa6;
}

.price-card__tag-free::after {
  border-left-color: #f43636;
}

.price-card__discount {
  color: #29384e;
  font-family: NunitoSansBold,sans-serif;
  font-size: clamp(.875rem,5vw,.875rem);
  font-weight: 700;
  opacity: .8;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  text-decoration: line-through;
}

.price-card__price {
  color: #487cc6;
  font-family: NunitoSansBold,sans-serif;
  font-weight: 700;
  letter-spacing: -.02em;
  line-height: 1.75rem;
  margin-bottom: 28px;
  margin-top: 10px;
  font-size: clamp(1.25rem,10vw,1.5rem);
}

.price-card__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-bottom: 0;
}

.price-card__list-item {
  font-size: clamp(.875rem,5vw,.875rem);
  padding: 10px 0;
  position: relative;
  text-align: left;
}

.price-item-best {
  border: 2px solid #ffb606;
  box-shadow: 0 6px 50px rgb(17 26 104 / 25%);
  padding: 85px 15px 35px;
}

.price-item-best__label {
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  color: #fff;
  background: #ffb606;
  display: inline-block;
  font-family: NunitoSansBold,sans-serif;
  font-size: clamp(1.25rem,5vw,1.25rem);
  font-weight: 700;
  left: 50%;
  line-height: 1.75rem;
  padding: 12px 0;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
}

.requir-free-price {
  line-height: 3;
}

.button-pricing {
  border-radius: 30px;
  display: block;
  margin: 0 15px 0 13px;
  padding: 10px 36px;
  font-family: NunitoSansBold,sans-serif;
  font-size: clamp(.875rem,3vw,1rem);
  font-weight: 600;
  letter-spacing: .02em;
  line-height: 1.688rem;
  min-height: 2.5rem;
  min-width: 8rem;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background: 0 0;
  margin-top: 20px;
  border: 1px solid #ff9800;
  color: #ff9800;
}

.button-pricing:hover {
  color: white;
  background-color: #ff9800;
}

@media screen and (max-width: 1560px) {
  .col-xl-2 {
    width: 25%;
  }
}

@media screen and (max-width: 1201px) {
  .col-xl-2 {
    width: unset;
  }
}

.disable-price {
  opacity: 0.6;
  background: #ffb606;
  color: white;
  border: 0;
}

.disable-price:hover {
  background: #ffb606;
}